* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
h2{
  font-size: 45px;
}
h3{
  font-size: 35px;
}
a {
  text-decoration: none;
}
nav {
  line-height: 100px;
}
.clear {
  clear: both;
}
/***CLASSI PER LE COLONNE ***/
.col_1 {
  width: 10%;
}
.col_2 {
  width: 20%;
}
.col_3 {
  width: 30%;
}
.col_4 {
  width: 40%;
}
.col_5 {
  width: 50%;
}
.col_6 {
  width: 60%;
}
.col_7 {
  width: 70%;
}
.col_8 {
  width: 80%;
}
.col_9 {
  width: 90%;
}
.col_10 {
  width: 100%;
}
/***CLASSI DI CONTROLLO ***/
.mr1 {
  margin-right: 10px;
}
.ml1 {
  margin-left: 10px;
}
.bordi-arrotondati {
  border: 1px solid #F5F8FA;
  border-radius: 5px;
}
/***********************/
/***SFONDO COLORI****/
.nero{
  background-color: #000;
}
.arancio {
  background-color: #ff704d;
}
.bluscuro {
 background-color:  #2D3E50;
}
.grigino {
  background-color: #F5F8FA;
}
.bianco {
  background-color: #fff;
}
/***********************/
/***COLORE TESTO ***/
.testo-nero {
  color: #33475b;
}
.testo-bianco {
  color: #fff;
}
.testo-arancio {
  color: #ff704d;
}
/***********************/
/***BUTTON****/
.button-piccolo {
  padding: 10px;
  border: 1px solid #ff704d;
  border-radius: 5px;
  font-size: 12px;
}
.button-medio {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #F5F8FA;
  border-radius: 5px;
  font-size: 12px;
}
.button-grande {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #F5F8FA;
  border-radius: 5px;
}
/***********************/
/****COLORI E SFONDI BUTTON***/
.negativo {
  color: #ff704d;
  background-color: #fff;
}
/***********************/

/***********************/
.contenitoreContenuti {
  width: 60%;
  margin: 0 auto;
}
#top-header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
}
#navHeader {
  width: 100%;
  height: 90px;
  padding-top: 70px;
}
#navHeader nav div {
  color: #000;
  font-size: 16px;
}
#caltoactionHeader {
  width: 100%;
  height: 90px;
}
#caltoactionSection {
  background-image:  -webkit-linear-gradient(45deg, rgba(37,143,186,1) 0%,rgba(40,184,204,1) 63%,rgba(150,234,234,1) 100%);
  height: 600px;
  border-bottom: 3px solid #000;
}
.interlinea {
  line-height: 70px;
}

.fleft{
  float: left;
}
.fright{
  float: right;
}
#colSxNav{
  line-height: 100px;
}
#colSxNav img {
  vertical-align: middle;
}
#colSxcaltoactionHeader{
  height: 90px;
  position: relative;
}
#colDxcaltoactionHeader{
  height: 90px;
  line-height: 90px;
}
#colSxcaltoactionHeader > h5{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-0%,-50%);
}
#colSxCalSection {
  width: 50%;
}
.fa-search {
  color: #46bdcf;
}
.menuItem {
  margin-left: 20px;
  /*margin-right: 20px;*/
}
#colSxCalSection h2,p{
  padding-top: 50px;
  color: #fff
}
.contenioreBtn {
  margin-top: 50px;
}
.testoPiccolo{
  font-size: 10px;
}
.contenitoreImg {
  padding-top: 20px;
  text-align: center;
}
.contenitoreImg img {
  width: 300px;
}
#titoloOffers,#testoOffers{
  text-align: center;
  padding-top: 20px;
}
.col_50 {
  width: 50%;
}
#contenitoreFreeHubspot {
  padding: 30px;
  height: 500px;
}
#imgLibro {
  width: 200px;
}
