* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
h2{
  font-size: 45px;
}
h3{
  font-size: 35px;
}
h4 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
a {
  text-decoration: none;
}
nav {
  line-height: 100px;
}
.clear {
  clear: both;
}
/***CLASSI PER LE COLONNE ***/
.col_1 {
  width: 10%;
}
.col_2 {
  width: 20%;
}
.col_3 {
  width: 30%;
}
.col_4 {
  width: 40%;
}
.col_5 {
  width: 50%;
}
.col_6 {
  width: 60%;
}
.col_7 {
  width: 70%;
}
.col_8 {
  width: 80%;
}
.col_9 {
  width: 90%;
}
.col_10 {
  width: 100%;
}
/***CLASSI DI CONTROLLO ***/
.mr1 {
  margin-right: 10px;
}
.ml1 {
  margin-left: 10px;
}
.mt1 {
  margin-top: 10px;
}
.mt3 {
  margin-top: 30px;
}
.mt5 {
  margin-top: 50px;
}
.mt10 {
  margin-top: 100px;
}
.mr1 {
  margin-right: 10px;
}
.pt1 {
  padding-top: 10px;
}
.pt2 {
  padding-top: 20px;
}
.pt3 {
  padding-top: 30px;
}
.pt5 {
  padding-top: 50px;
}
.pt10 {
  padding-top: 100px;
}
.pb1 {
  padding-bottom: 10px;
}
.pb6 {
  padding-bottom: 60px;
}
.bordi-arrotondati {
  border: 1px solid #F5F8FA;
  border-radius: 5px;
}
.testo-centrato {
  text-align: center;
}

/***********************/
/***SFONDO COLORI****/
.nero{
  background-color: #000;
}
.arancio {
  background-color: #ff704d;
}
.bluscuro {
 background-color:  #2D3E50;
}
.grigino{
  background-color: #F5F8FA;
}
.bianco {
  background-color: #fff;
}
/***********************/
/***COLORE TESTO ***/
.testo-nero {
  color: #33475b;
}
.testo-bianco {
  color: #fff;
}
#card{
  padding-bottom: 50px;
}
.cardContenitore > #secondaColonna{
  margin-left: 5%;
  margin-right: 5%;
}
.cardBox > img {
  height: 150px;
}
.cardBox > p {
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.cardBox > h4 {
  margin-bottom: 20px;
}
.cardBox > h5 {
  margin-top: 20px;
}
.cardBox > ul {
  text-align: left;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}
.cardBox > a {
  display: inline-block;
  margin-bottom: 30px;
}
.linea {
  border: 1px solid lightgrey;
  margin-left: 15px;
  margin-right: 15px;

}
.testo-arancio{
  color: #ff704d;
}
.testo-grigino{
  color: grey;
}
/***********************/
/***BUTTON****/
.button-piccolo {
  padding: 10px;
  border: 1px solid #ff704d;
  border-radius: 5px;
  font-size: 12px;
}
.button-medio {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #F5F8FA;
  border-radius: 5px;
  font-size: 12px;
}
.button-grande {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #F5F8FA;
  border-radius: 5px;
  display: inline-block;
}
/***********************/
/****COLORI E SFONDI BUTTON***/
.negativo {
  color: #ff704d;
  background-color: #fff;
}
/***********************/

/***********************/
.contenitoreContenuti {
  width: 60%;
  margin: 0 auto;
}
#top-header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
}
#navHeader {
  width: 100%;
  height: 90px;
  padding-top: 70px;
}
#navHeader nav div {
  color: #000;
  font-size: 16px;
}
#caltoactionHeader {
  width: 100%;
  height: 90px;
}
#caltoactionSection {
  background-image:  -webkit-linear-gradient(45deg, rgba(37,143,186,1) 0%,rgba(40,184,204,1) 63%,rgba(150,234,234,1) 100%);
  height: 600px;
  border-bottom: 3px solid #000;
}
.interlinea {
  line-height: 70px;
}
.fleft{
  float: left;
}
.fright{
  float: right;
}
#colSxNav{
  line-height: 100px;
}
#colSxNav img {
  vertical-align: middle;
}
#colSxcaltoactionHeader{
  height: 90px;
  position: relative;
}
#colDxcaltoactionHeader{
  height: 90px;
  line-height: 90px;
}
#colSxcaltoactionHeader > h5{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-0%,-50%);
}
#colSxCalSection {
  width: 50%;
}
.fa-search {
  color: #46bdcf;
}
.menuItem {
  margin-left: 20px;
  /*margin-right: 20px;*/
}
.contenioreBtn {
  margin-top: 50px;
}
.testoPiccolo{
  font-size: 10px;
}
.contenitoreImg {
  padding-top: 20px;
  text-align: center;
}
.contenitoreImg img {
  width: 300px;
}

#titoloOffers,#testoOffers{
  text-align: center;
  padding-top: 20px;
}
#contenitoreFreeHubspot {
  padding: 30px;
  height: 500px;
}
#imgLibro {
  width: 200px;
}
#hubspotSection {
  padding-top: 40px;
  padding-bottom: 40px;
}
#hubspot {
  padding: 30px;
}
#hubspot::after {
  content: "";
  display: table;
  clear: both;
}
#learnSection {
  background-image:  linear-gradient(to right, #09A7BF,#00BDA5);
  height: 1000px;
}
.cardRiga > img {
  height: 30px;
}
.riga > div {
  width: 25%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.riga2 > div {
  width: 25%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  border-right: 1px solid #fff;
}
#sectionSponsor {
  height: 1000px;
}
.boxSponsorTesto p {
  text-align: left;
  line-height: 1.4;
}
.boxTabella {
  padding-left: 60px;
}
.rigaSponsor > div {
  float: left;
  width: 25%;
}
.rigaSponsor2 > div {
  float: left;
  width: 25%;
}
#sectionPersona {
  margin-top: 200px;
}
.boxDescrizione > h3,p,a {
  margin-top: 30px;
}
