* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
a {
  text-decoration: none;
}
.clear{
  clear: both;
}
/***CLASSI DI CONTROLLO ***/
.mr1 {
  margin-right: 10px;
}
.ml1 {
  margin-left: 10px;
}
/***********************/
.contenitoreContenutiHeader {
  width: 70%;
  margin: 0 auto;
  color: #7c98b6;
}
#top-header {
  background-color: #F5F8FA;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #cbd6e2;
}
#navHeader {
  width: 100%;
  height: 90px;
}
#calHeader {
  background-color: orange;
  width: 100%;
  height: 90px;
}
.interlinea {
  line-height: 70px;
}
.fleft{
  float: left;
}
.fright{
  float: right;
}
#colSxTopHeader {
  width: 20%;
}
#colCenterTopHeader {
  width: 50%;
}
#colDxTopHeader{
  width: 30%;
}
#colSxNav{
  width: 20%;
  line-height: 100px;
}
#colSxNav img {
  vertical-align: middle;
}
#colDxNav {
  width: 80%;
  line-height: 100px;
}
.nero{
  background-color: black;
  width: 20%;
  height: 100px;
}
.orange{
  background-color: orange;
  width: 50%;
  height: 70px;
}
.giallo {
  background-color: yellow;
  width: 80%;
  height: 100px;
}
.btnNegativo {
  color: #ff704d;
  padding: 5px;
  border: 1px solid #ff704d;
  border-radius: 5px;
  background-color: #fff;
}
.btnOrange {
  color: #fff;
  padding: 5px;
  background-color: #ff704d;
  border: 1px solid #ff704d;
  border-radius: 5px;
}
.fa-search {
  color: #46bdcf;
}
.menuItem {
  margin-left: 20px;
  margin-right: 20px;
}
